.MuiChip-outlined{
    &.chip-outline{
        height: 48px;
        border-radius: 360px;

        span{
            color: $text-white;
            font-size: 18px;
            padding: 6px 20px;
        }
    }
}
.MuiChip-root{
    &.chip-verify{
        display: flex;
        flex-direction: row-reverse;
        span{
            background-color: $bg-chip-filled;
            color: $bg-color;
            border-radius: 8px;
            padding: 4px 30px 4px 12px;
        }
        svg{
            position: absolute;
            margin-left: 90px;
            margin-bottom: 2px;
            font-size: 1rem;
            fill: $bg-color;
        }
    }
}
.Pending, .Completed, .Cancelled{
    border-radius: 4px;
    span{
        padding: 2px 10px;
        border-radius: 4px;
    }
}
.Pending{
    span{
        background: $pending-bg;
        color: $pending-text;
    }
}
.Completed{
    span{
        background: $completed-bg;
        color: $completed-text;
    }
}
.Cancelled{
    span{
        background: $cancelled-bg;
        color: $cancelled-text;
    }
}