.title-field{
    font-weight: 500;
    font-size: 16px;
}
.helper-text{
    font-size: 14px;
}
.input-field{
    text-align: start;
    width: 100%;
}
.checkbox-field{
    text-align: start;
    width: 100%;
    margin: 14px 0;

    .MuiTypography-root{
        color: white;
    }
}

