.sidenav-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    color: white;
    height: 100%;
    border-right: 1px solid $border-color-right;
    position: absolute;
    left: 0;

    &__top{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        &-iso{
            padding: 16px 0 22px 0;
        }
        &-categories{
            display: flex;
            flex-direction: column;
            gap: 18px;

            svg:hover{
                fill: $color-blue;
                cursor: pointer;
            }
        }
    }
    &__bottom{
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding-bottom: 16px;

        svg:hover{
            fill: $color-blue;
            cursor: pointer;
        }
    }
}
.header-content{
    display: flex;
    justify-content: space-between;
    width: auto;
    color: white;
    padding: 16px;
    border-bottom: 1px solid $border-color-right;

    &__left{
        display: flex;
        gap: 50px;
        
        &-avatar{
            display: flex;
            align-items: center;
            gap: 8px;
            border-right: 1px solid $border-color-right;
            padding-right: 50px;

            h3, p{
                margin: 0;
            }
            &-user{
                h3{
                    font-weight: 400;
                    font-size: 16px;
                    margin-bottom: 4px;
                }
                p{
                    font-size: 14px;
                    color: $text-color-secondary;
                }
            }
        }
        &-balance, &-available-founds{
            h3, p{
                margin: 0;
            }
            h3{
                font-weight: 400;
                font-size: 16px;
            }
            p{
                font-size: 14px;
                color: $text-color-secondary;
                margin-bottom: 4px;
            }
        }
    }
    svg.icon-position{
        position: absolute;
        z-index: 3;
        padding: 8px;
    }
}