.login-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

    &__left{
        background-image: url('images/bg-login.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    &__right{
     color: $text-color;
     padding: 54px 40px;
     display: grid;
     align-content: space-between;
     justify-content: center;

     .content-center{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 550px;
     }
     img{
      width: 180px;
      padding-bottom: 80px;
     }
     &__buttons{
        display: flex;
        gap: 16px;
        width: 100%;
        padding-bottom: 22px;
     }
     .hr-style{
        width: 100%;
        border-color: $border-color;
        &::after {
            content: 'or';
            position: absolute;
            margin-top: -8px;
            left: 74.5%;
            padding: 0 10px; 
            background: $bg-color; 
            color: $text-color-secondary; 
            font-size: 14px;
            z-index: 2; 
        }
     }
     hr{
        width: 100%;
        border-color: $border-color;
     }
    }
}