$text-color: #999999;
$text-color-secondary: #595959;
$bg-color: #0A0A0A;
$bg-color-card: #1f1f1f;
$bg-color-deposit: #101010;
$text-color-tertiary: #757575;
$button-color: #191919;
$border-color: #0000004f;
$border-color-right: #1f1f1f;
$text-white: #ffffff;
$color-blue: #00bddd;
$color-blue-button: rgba(0, 189, 221, 0.09);
$bg-chip-filled: #0FEDBE;
$red-negative: #F63C6B;
$green-positive: #34C759;

//chip status
$pending-text: #FFCC00;
$pending-bg: rgba(255, 189, 46, 0.04);

$completed-text: #34C759;
$completed-bg: rgba(52, 199, 8, 0.04);

$cancelled-text: #F63C6B;
$cancelled-bg: rgba(246, 60, 107, 0.04);



$error-color: #c4180f;

$bg-chip-filled: #0FEDBE;
$red-negative: #F63C6B;
$green-positive: #34C759;

$font-family: 'Open Sans', sans-serif;