$text-color: #999999;
$text-color-secondary: #595959;
$bg-color: #0A0A0A;
$text-color-tertiary: #757575;
$button-color: #191919;
$border-color: #0000004f;
$border-color-right: #1f1f1f;
$text-white: #ffffff;
$color-blue: #00bddd;
$error-color: #c4180f;

$bg-chip-filled: #0FEDBE;
$red-negative: #F63C6B;
$green-positive: #34C759;

$font-family: 'Open Sans', sans-serif;