$text-color: #999999;
$text-color-secondary: #595959;
$bg-color: #0A0A0A;
$button-color: #191919;
$border-color: #0000004f;
$text-white: #ffffff;
$color-blue: #00bddd;


$font-family: 'Open Sans', sans-serif;