@import "../styles/variables";
@import "../styles/login";
@import "../styles/buttons";
@import "../styles/inputs";

body {
  font-family: $font-family;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.footer-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}