@import "../styles/variables";
@import "../styles/login";
@import "../styles/buttons";
@import "../styles/inputs";
@import "../styles/chips";
@import "../styles/queries";
@import "../styles/layouts";
@import "../styles/cards";

body {
  font-family: $font-family !important;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
hr{
  margin: 24px 0px;
  border-color: $border-color;
}
.footer-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-link{
  color: $color-blue;
}
.home-page{
  width: auto;
  height: 100vh;
  margin-left: 100px;

  &__main-content{
    margin-top: 0px !important;
    padding: 53px 16px 20px 0 !important;
  }
}
.home-content{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;

  &__left{
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-cards{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(clamp(150px, 300px, 350px), 1fr));
      gap: 16px;
    }
  }
  &__right{
    display: flex;
    flex-direction: column;
    gap: 40px;

    &-map{
      background-color: $border-color-right;

      img{
        width: 100%;
      }
    }
    &-indices{
      &-cards{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 16px;
      }
    }
    h2{
      margin: 0;
      padding: 24px;
      color: white;
      font-weight: 400;
    }
  }
}
.transactions-content{
  
  h1{
    margin: 0;
    color: white;
  }

  &__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(150px, 250px, 350px), 1fr));
    gap: 16px;

    .card-info{
      padding: 24px;
      gap: 16px;
      
      h3{
        font-size: 16px;
        font-weight: 400;
      }
      &__content{
        h1{
          font-size: 28px;
          font-weight: 700;
          color: $text-color;
        }
      }
    }
  }
  &__table{
    background-color: $border-color-right;
    border-radius: 8px;

    .MuiBox-root{
      padding: 0;
    }
    .MuiButtonBase-root.MuiTab-root{
      color: white;
      text-transform: capitalize;
      font-weight: 400;

      &.Mui-selected{
        color: $color-blue;
      }
    }
    .MuiTabs-fixed .MuiTabs-indicator{
      background-color: $color-blue;
    }
    .MuiTabs-root{
      padding: 0px 16px;
    }
  }
  &__buttons{
    display: flex;
    justify-content: space-between;
    margin: 24px 0px;
    flex-wrap: wrap;
    row-gap: 10px;

    &-flex{
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
    }
    button{
      background-color: $border-color-right;
      color: $text-color;
      text-transform: capitalize;
      border-radius: 8px;
      padding: 10px 16px;
      font-size: 16px;
      box-shadow: none;
  
      &:hover{
        box-shadow: none;
      }
    }
  }
}
.table-content{
  border-radius: 0px 0px 8px 8px !important;

  table{
    background-color: $border-color-right;

    th, td{
      color: white;
      border-bottom: 1.5px solid $bg-color;
    }
    th{
      background-color: $button-color;
    }
  }
}
.date-picker-component{
  background-color: $border-color-right;
  border-radius: 8px;
  width: 160px;

  .MuiPickersInputBase-sectionsContainer{
    color: $text-color;
    padding: 12.5px 0px;
  }
  .css-vycme6-MuiPickersInputBase-root-MuiPickersOutlinedInput-root.Mui-focused:not(.Mui-error) .MuiPickersOutlinedInput-notchedOutline{
    border-color: transparent;
  }
  svg{
    fill: $text-color;
    padding: 0px;
  }
}
.deposit-content{
  display: flex;
  flex-direction: column;
  gap: 24px; 

  h1, h2{
    margin: 0;
    color: white;
  }
  &__top{
    padding: 32px;
    background-color: $bg-color-deposit;
    p{
      color: $text-color;
      margin: 10px 0px;
    }
    &-buttons{
      padding-top: 24px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;

      button{
        background-color: $border-color-right;
        color: $text-color;
        text-transform: capitalize;
        border-radius: 4px;
        width: 164px;
        padding: 10px 16px;
        font-size: 14px;
        box-shadow: none;
      }
      .active{
        background-color: $color-blue-button;
        color: $color-blue;
      }
    }

  }
  &__bottom{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(150px, 300px, 350px), 1fr));
    gap: 24px;

    &-left{
      background-color: $bg-color-deposit;
      padding: 32px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      a.button-color{
        margin: 0px;
      }
    }
    &-right{
      background-color: $bg-color-deposit;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 32px;
      gap: 10px;
      h1,p{
        color: $text-color;
        margin: 0;
      }
      h1{
        font-weight: 400;
      }
    }

  } 
}
.contact-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(clamp(150px, 300px, 350px), 1fr));
  height: 100vh;
  gap: 16px;
  
  h1{
    margin: 0;
    color: white;
    font-weight: 400;
  }
  h2{
    color: $text-color;
    margin: 0;
  }
  &__card{
    background-color: $border-color-right;
    border-radius: 8px;
    padding: 32px;
    max-height: 220px;
  }
}
.withdraw-content{
  display: flex;
  flex-direction: column;
  gap: 24px;
  h1, h2{
    margin: 0;
    color: white;
  }
  &__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(clamp(150px, 300px, 350px), 1fr));
    gap: 24px;

    &-left, &-right{
      background-color: $bg-color-deposit;
      padding: 32px;
      height: fit-content;
      p{
        color: $text-color;
        margin: 10px 0px;
      }
    }
    &-left-buttons{
      display: flex;
      justify-content: center;
      gap: 20px;
      padding-top: 24px;
      button{
        background-color: $border-color-right;
        color: $text-color;
        text-transform: capitalize;
        border-radius: 4px;
        width: 164px;
        padding: 10px 16px;
        font-size: 14px;
        box-shadow: none;
      }
      .active{
        background-color: $color-blue-button;
        color: $color-blue;
      }
    }
    .deposit-content__bottom-left{
      padding: 0px;
      margin-top: 24px;
    }
    &-right-inputs{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 24px;
      
      .title-field{
        color: white;
        font-size: 14px;
      }
    }
    &-right-buttons{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      column-gap: 20px;
      padding-top: 8px;

      a{
        width: 100%;
        height: 48px;
        border-radius: 8px;
        text-transform: capitalize;
        margin: 16px 0;

        &.disabled{
          background-color: $border-color-right;
          color: $text-color;
        }
        &.active{
          background-color: $color-blue-button;
          color: $color-blue;
      }
      }
    }
  }
}
.dashboard-content{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;

  h3.title-field{
    color: $text-color;
    &.m-t-0{
      margin-top: 0px; 
    }
  }
  &__left{
    img{
      width: 100%;
    }
  }
  &__right{
    .MuiButtonBase-root.MuiTab-root{
      color: $text-color;
      text-transform: capitalize;
      font-weight: 400;
      width: 50%;
      font-size: 18px;

      &.Mui-selected{
        color: $color-blue;
      }
    }
    .MuiTabs-fixed .MuiTabs-indicator{
      background-color: $color-blue;
    }
    .MuiTabs-root{
      padding: 16px 0 0 0;
    }
    .buy-form-content{
      &__order{
        &-bottom{
          &-text{
            display: flex;
            justify-content: space-between;
            font-size: 18px;

            p{
              margin: 4px;
            }
            
            p:first-child{
              color: $text-color;
            }
            p:last-child{
              color: white;
            }
          }
        }
      }
    }
    &-title{
      color: white;
      padding: 16px;
      margin: 0;
      background-color: $bg-color-card;
    }
    &-price{
      padding: 24px;
      p{
        margin: 4px;
        color: white;
      }
      &-text{
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
.account-content{
  h1, h2{
    margin: 0;
    color: white;
  }
  h3{
    color: $text-color;
    margin: 0;
    font-weight: 400;
  }
  p{
    color: $text-color;
    margin: 10px 0px;
  }
  &__info-cards{
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__info-profile{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;

    .MuiAvatar-root{
      background-color: $text-color;
    }
    &>div{
      display: flex;
      align-items: center;
    }

    &__personal-info{
      padding: 32px;
      background-color: $bg-color-deposit;
      display: flex;
      flex-direction: column;
      gap: 24px;

      &-header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        button{
          padding: 8px 32px;
          font-size: 16px;
          color: $color-blue;
          background-color: $color-blue-button;
          text-transform: capitalize;
        }
      }
      &-main{
        display: flex;
        flex-wrap: wrap;
        gap: 48px;
        &-text{
          h2{
            margin: 0;
            font-weight: 400;
            font-size: 1.15rem;
          }
        }
      }
    }
  }
  &__info-button{
    button{
      background-color: $cancelled-bg;
      color: $cancelled-text;
      border-radius: 8px;
      text-transform: capitalize;
      padding: 10px 16px;
      font-weight: 500;
      font-size: 16px;
    }
  }
  .button-edit{
    border-radius: 360px;
    background-color: $border-color-right;
    min-width: 50px;
    height: 50px;
    position: absolute;
    margin-top: 140px;
    margin-left: 110px;
    border: 5px solid $bg-color;
    padding: 0px;
  }
}